* text=auto
*.bas        text eol=crlf
*.ps1        text eol=crlf
*.bat        text eol=crlf
/快速开始.txt text eol=crlf
*.sh         text eol=lf
*.command    text eol=lf
*.applescript text eol=lf
*.py         text eol=lf
*.xcu        text eol=lf
*.png        binary
*.pptm       binary
*.ppam       binary
*.oxt        binary
*.emf        binary
*.vsdx       binary
